
        .button { 
           display: inline-flex;
            margin-left: 550px;
            padding-top: 5px;
            
    }
         .input {
            display:inline-block;
           width: 450px;
         }

     .form {
   width: 1520px;
   height: 30px;
   background-color: blue;
   display: flex;
   flex-direction:row;
padding: 5px 5px;
                  }